@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
  margin: 0;
  height: 100%;
  font-family: Montserrat;
}

button {
  background: rgb(147, 186, 209);
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 2px rgb(10, 71, 94);
  font-family: Montserrat;
  margin: 10px;
  padding: 5px 12px 5px 12px;
}

button:hover {
  cursor: pointer;
  background: rgb(125, 166, 190);
}

.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  width: 700px;
  min-height: 250px;
  padding: 50px 20px 50px 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(147, 186, 209);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.form input {
  margin: 0;
}

.friend-form {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(147, 186, 209);
}

.align-form-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
}

.memory-form {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(147, 186, 209);
}

.navbar {
  width: 100%;
  background-image: linear-gradient(rgb(147, 186, 209), white);
  /* background-color: rgba(147, 186, 209, 0.473); */
}

.friends-page {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  overflow-y: scroll;
  padding: 20px;
  height: 100%;
  /* max-height: 38.5rem; */
}

.memories-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  gap: 20px;
}

.card {
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(147, 186, 209);
  margin: 0 auto;
  padding: 20px;
  width: 85%;
  text-align: center;
}

.card img {
  width: 70%;
  margin: auto;
}

.centered {
  text-align: center;
}

.italic {
  font-style: italic;
}

h2, h3, h4, input, p {
  margin: 5px 0 5px 0;
}

.error {
  color: red;
  background: mistyrose;
  text-align: center;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#right, #left {
  position: relative;
}

#logout-button {
  position: absolute;
  top: 0;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 5px 5px 0 0;
}

#logout-button button {
  background-color: white;
  color: rgb(10, 71, 94);
  font-weight: bold;
}

button.min-width {
  padding: 2px 5px;
}

.min-width {
  width: auto;
}

input {
  padding: 3px;
  font-family: Montserrat;
  width: 200px;
}

h1 {
  font-family: Satisfy;
  font-size: 48px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

hr {
  margin: 5px 0 5px 0;
}